<nav class="navbar navbar-expand-lg px-4 shadow-sm bg-dark">
    <div class="container-fluid text-white">
        <!-- الشعار -->
        <a class="navbar-brand me-auto d-flex align-items-center gap-2">
            <img src="Assets/WDLogo.jfif" width="60" />
            <!-- <span class="text-white fs-6 d-none d-sm-inline">مرحبًا<br> {{ controlName }}</span> -->
        </a>


        <button class="navbar-toggler text-white border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-lg"></i>
        </button>

        <!-- عناصر القائمة -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="ms-auto d-flex flex-column flex-lg-row mt-3 mt-lg-0">
                <button class="btn btn-outline-light" routerLink="/controlInfo">تغيير الكنترول</button>
                <button class="btn btn-outline-light" routerLink="/stadiumLog">بيانات الملاعب</button>
                <button class="btn btn-outline-light" routerLink="/enterStadium">إضافة لاعب</button>
                <button class="btn btn-outline-light" (click)="backClicked()">
                    <i class="fa-solid fa-right-long"></i>
                </button>
            </div>
        </div>
    </div>
</nav>