<nav class="navbar navbar-expand-md px-4 shadow-sm" style="background-color: black;">
    <div class="container-fluid text-white">
        <!-- الشعار -->
        <a class="navbar-brand me-auto d-flex align-items-center gap-2">
            <img src="Assets/WDLogo.jfif" width="60" />

        </a>

        <!-- زر القائمة للموبايل فقط -->
        <button class="navbar-toggler text-white border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-lg"></i>
        </button>

        <!-- عناصر القائمة -->
        <div class="collapse navbar-collapse text-warning" id="navbarNav">
            <div class="ms-auto d-flex flex-column flex-md-row mt-3 mt-md-0 gap-2">
                <button class="btn btn-outline-light btn-sm" routerLink="/controlInfo">تغيير الكنترول</button>
                <button class="btn btn-outline-light btn-sm" routerLink="/booking">حجز</button>
                <button class="btn btn-outline-light btn-sm" routerLink="/stadiumLog">بيانات الملاعب</button>
                <button class="btn btn-outline-light btn-sm" routerLink="/enterStadium">إضافة لاعب</button>
            </div>
        </div>
    </div>
</nav>