<!-- login.component.html -->
<div class="container py-5">
    <h2 class="text-center">تسجيل الدخول</h2>
    <form (ngSubmit)="login()">
        <div class="mb-3">
            <label>اسم المستخدم</label>
            <input [(ngModel)]="username" name="username" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>كلمة المرور</label>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" required />
        </div>
        <button class="btn btn-primary w-100">دخول</button>
    </form>
</div>