<div class="container py-4 text-end" dir="rtl">

    <div class="card shadow-sm mb-4">
        <div class="card-body text-center">
            <h4 class="text-center mb-4">تفاصيل مخالفة العضو <span class="text-warning fw-bolder">{{ memberName
                    }}</span></h4>
            <p class="card-text fs-5 mt-3">
                👤 <strong>{{ member?.memberName }}</strong><br />
                عضوية رقم: <strong>{{ member?.membership }}</strong>
            </p>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">ملاحظات:</label>
        <textarea [(ngModel)]="note" class="form-control" rows="3"></textarea>
    </div>
    <div class="d-flex justify-content-center gap-2 mt-4">
        <button class="btn btn-outline-danger" (click)="saveViolation('insult')">حفظ تلفظ</button>
        <button class="btn btn-outline-warning" (click)="saveViolation('joke')">حفظ هزار</button>
        <button class="btn btn-outline-primary" (click)="saveViolation('fight')">حفظ مشادة</button>
    </div>
</div>